n8n/workflows/media/age17-music-generate-acestep-turbo-callback-v1.json
{
  "_openclawExport": {
    "exportedAt": "2026-06-12T10:54:05.435Z",
    "source": "n8n_get_workflow",
    "purpose": "Version live Phase 1 media workflow definitions from n8n",
    "workflowId": "iW06DQkM5ZqaeEdt",
    "workflowName": "AGE17 Dev - Music Generate acestep_turbo Callback v1",
    "activeAtExport": true,
    "versionId": "47c1d9c3-c7d4-4125-951d-5a923d809d04",
    "activeVersionId": "47c1d9c3-c7d4-4125-951d-5a923d809d04",
    "versionCounter": 4
  },
  "name": "AGE17 Dev - Music Generate acestep_turbo Callback v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev/media/music-generate-callback-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Worker Callback Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        340
      ],
      "webhookId": "dev-media-music-generate-callback-v1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json.body ?? $input.first().json;\nconst headers = $input.first().json.headers ?? {};\nconst authHeader = typeof headers.authorization === 'string' ? headers.authorization.trim() : '';\nconst expectedToken = $env.MEDIA_WORKER_CALLBACK_TOKEN || '';\n\nif (!expectedToken) {\n  return [{ json: { status: 'failed', stage: 'auth', errorCode: 'CALLBACK_AUTH_NOT_CONFIGURED', message: 'MEDIA_WORKER_CALLBACK_TOKEN is not configured in n8n', responseCode: 500, route: 'error' } }];\n}\nif (authHeader !== `Bearer ${expectedToken}`) {\n  return [{ json: { status: 'failed', stage: 'auth', errorCode: 'UNAUTHORIZED_CALLBACK', message: 'worker callback authorization failed', responseCode: 401, route: 'error' } }];\n}\n\nconst requestId = typeof source.requestId === 'string' && source.requestId.trim() ? source.requestId.trim() : '';\nconst jobId = typeof source.jobId === 'string' && source.jobId.trim() ? source.jobId.trim() : '';\nconst workerId = typeof source.workerId === 'string' && source.workerId.trim() ? source.workerId.trim() : '';\nconst promptId = typeof source.promptId === 'string' && source.promptId.trim() ? source.promptId.trim() : '';\nconst status = typeof source.status === 'string' ? source.status.trim() : '';\nconst allowedStatuses = new Set(['completed', 'failed']);\nconst assetUrls = Array.isArray(source.assetUrls) ? source.assetUrls.filter((v) => typeof v === 'string' && v.trim()) : [];\nconst outputPath = typeof source.outputPath === 'string' && source.outputPath.trim() ? source.outputPath.trim() : null;\nconst mimeType = typeof source.mimeType === 'string' && source.mimeType.trim() ? source.mimeType.trim() : null;\nconst duration = Number.isFinite(Number(source.duration)) ? Number(source.duration) : null;\nconst sizeBytes = Number.isFinite(Number(source.sizeBytes)) ? Number(source.sizeBytes) : null;\nconst assets = Array.isArray(source.assets) ? source.assets.filter((asset) => asset && typeof asset === 'object') : [];\nconst completedAt = typeof source?.timing?.completedAt === 'string' ? source.timing.completedAt : (typeof source.completedAt === 'string' ? source.completedAt : $now.toISO());\nconst metadata = source.metadata && typeof source.metadata === 'object' ? source.metadata : {};\nconst error = source.error && typeof source.error === 'object' ? source.error : null;\n\nif (!requestId || !jobId || !workerId || !allowedStatuses.has(status)) {\n  return [{ json: { requestId: requestId || null, jobId: jobId || null, status: 'failed', stage: 'validation', errorCode: 'INVALID_CALLBACK_PAYLOAD', message: 'requestId, jobId, workerId, and terminal status are required', responseCode: 400, route: 'error' } }];\n}\nif (status === 'completed' && assetUrls.length === 0) {\n  return [{ json: { requestId, jobId, status: 'failed', stage: 'validation', errorCode: 'MISSING_ASSETS', message: 'completed callback must include assetUrls', responseCode: 400, route: 'error' } }];\n}\n\nreturn [{ json: { requestId, jobId, workerId, promptId, status, assetUrls, outputPath, mimeType, duration, sizeBytes, assets, completedAt, metadata, error, timing: source.timing ?? null, route: 'continue' } }];"
      },
      "id": "2",
      "name": "Authenticate and Validate Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-callback-route",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.route }}",
              "rightValue": "continue"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3",
      "name": "Callback Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        760,
        340
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ requestId: $json.requestId, jobId: $json.jobId, status: $json.status, stage: $json.stage, errorCode: $json.errorCode, message: $json.message }) }}",
        "options": {
          "responseCode": "={{ $json.responseCode || 500 }}"
        }
      },
      "id": "4",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2500,
        540
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "SPGOyAFf0KBfcgp4",
          "mode": "list",
          "cachedResultName": "MediaPhase1Jobs",
          "cachedResultUrl": "/projects/U1Bc4pAxfxpZa9Zn/datatables/SPGOyAFf0KBfcgp4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "requestId",
              "keyValue": "={{ $('Authenticate and Validate Callback').item.json.requestId }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      },
      "id": "5",
      "name": "Load Job Row",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        980,
        340
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const callback = $('Authenticate and Validate Callback').first().json;\nconst rows = $input.all().filter((item) => item?.json && Object.keys(item.json).length > 0 && item.json.requestId);\nconst existing = rows[0]?.json;\n\nif (!existing) {\n  return [{ json: { requestId: callback.requestId, jobId: callback.jobId, status: 'failed', stage: 'lookup', errorCode: 'JOB_NOT_FOUND', message: 'No Phase 1 job row found for requestId', responseCode: 404, route: 'error' } }];\n}\nif (existing.jobId && existing.jobId !== callback.jobId) {\n  return [{ json: { requestId: callback.requestId, jobId: callback.jobId, status: 'failed', stage: 'lookup', errorCode: 'JOB_ID_MISMATCH', message: 'Callback jobId does not match persisted requestId row', responseCode: 409, route: 'error' } }];\n}\nconst existingStatus = typeof existing.status === 'string' ? existing.status : '';\nconst terminalStatuses = new Set(['completed', 'failed', 'cancelled']);\nif (terminalStatuses.has(existingStatus)) {\n  return [{ json: { requestId: existing.requestId, jobId: existing.jobId, status: existing.status, acceptedAt: existing.updatedAtIso || $now.toISO(), duplicateTerminal: true, route: 'duplicate' } }];\n}\nconst resultPayload = {\n  status: callback.status,\n  workerId: callback.workerId,\n  promptId: callback.promptId || null,\n  assetUrls: callback.assetUrls,\n  outputPath: callback.outputPath,\n  mimeType: callback.mimeType,\n  duration: callback.duration,\n  sizeBytes: callback.sizeBytes,\n  assets: callback.assets,\n  error: callback.error,\n  timing: callback.timing,\n  metadata: callback.metadata,\n  completedAt: callback.completedAt\n};\nconst updatedAtIso = callback.completedAt || $now.toISO();\nreturn [{ json: {\n  requestId: callback.requestId,\n  jobId: callback.jobId,\n  status: callback.status,\n  payloadJson: existing.payloadJson || '',\n  resultJson: JSON.stringify(resultPayload),\n  updatedAtIso,\n  completionPayload: {\n    requestId: callback.requestId,\n    status: callback.status,\n    assetUrls: callback.assetUrls,\n    outputPath: callback.outputPath,\n    mimeType: callback.mimeType,\n    duration: callback.duration,\n    sizeBytes: callback.sizeBytes,\n    assets: callback.assets,\n    metadata: {\n      workerId: callback.workerId,\n      promptId: callback.promptId || null,\n      profile: callback.metadata?.profile || 'acestep_turbo'\n    },\n    error: callback.error || null\n  },\n  route: 'update'\n} }];"
      },
      "id": "6",
      "name": "Evaluate Terminal State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-duplicate",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.route }}",
              "rightValue": "duplicate"
            }
          ]
        },
        "options": {}
      },
      "id": "7",
      "name": "Already Terminal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1440,
        340
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ requestId: $json.requestId, jobId: $json.jobId, accepted: true, duplicateTerminal: true, status: $json.status }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "8",
      "name": "Respond Duplicate Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1660,
        220
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "SPGOyAFf0KBfcgp4",
          "mode": "list",
          "cachedResultName": "MediaPhase1Jobs",
          "cachedResultUrl": "/projects/U1Bc4pAxfxpZa9Zn/datatables/SPGOyAFf0KBfcgp4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "requestId",
              "keyValue": "={{ $json.requestId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "jobId": "={{ $json.jobId }}",
            "status": "={{ $json.status }}",
            "payloadJson": "={{ $json.payloadJson }}",
            "resultJson": "={{ $json.resultJson }}",
            "updatedAtIso": "={{ $json.updatedAtIso }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "requestId",
              "displayName": "requestId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "jobId",
              "displayName": "jobId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "resultJson",
              "displayName": "resultJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updatedAtIso",
              "displayName": "updatedAtIso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9",
      "name": "Update Terminal Row",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1660,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst callbackUrl = $env.OPENCLAW_MEDIA_COMPLETION_URL || '';\nconst callbackToken = $env.OPENCLAW_MEDIA_COMPLETION_TOKEN || '';\nlet result = {};\ntry {\n  result = row.resultJson ? JSON.parse(row.resultJson) : {};\n} catch {}\nconst completionPayload = {\n  requestId: row.requestId,\n  jobId: row.jobId,\n  status: row.status,\n  assetUrls: Array.isArray(result.assetUrls) ? result.assetUrls : [],\n  outputPath: result.outputPath || null,\n  mimeType: result.mimeType || null,\n  duration: result.duration || null,\n  sizeBytes: result.sizeBytes || null,\n  error: result.error || null,\n  timing: result.timing || (result.completedAt ? { completedAt: result.completedAt } : null),\n  metadata: {\n    ...(result.metadata && typeof result.metadata === 'object' ? result.metadata : {}),\n    workerId: result.workerId || null,\n    promptId: result.promptId || null,\n    profile: result.metadata?.profile || 'acestep_turbo'\n  }\n};\nreturn [{ json: { ...row, completionPayload, notifyConfigured: Boolean(callbackUrl && callbackToken), notifyUrl: callbackUrl } }];"
      },
      "id": "10",
      "name": "Resolve Notify Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-notify",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.notifyConfigured }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "11",
      "name": "Notify Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2100,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.notifyUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENCLAW_MEDIA_COMPLETION_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.completionPayload }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "12",
      "name": "Notify OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2320,
        320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ requestId: $('Resolve Notify Target').first().json.requestId, jobId: $('Resolve Notify Target').first().json.jobId, accepted: true, status: $('Resolve Notify Target').first().json.status, notifiedOpenClaw: $('Resolve Notify Target').first().json.notifyConfigured || false }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "13",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2540,
        420
      ]
    }
  ],
  "connections": {
    "Worker Callback Webhook": {
      "main": [
        [
          {
            "node": "Authenticate and Validate Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate and Validate Callback": {
      "main": [
        [
          {
            "node": "Callback Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Valid?": {
      "main": [
        [
          {
            "node": "Load Job Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Job Row": {
      "main": [
        [
          {
            "node": "Evaluate Terminal State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Terminal State": {
      "main": [
        [
          {
            "node": "Already Terminal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Terminal?": {
      "main": [
        [
          {
            "node": "Respond Duplicate Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Terminal Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Terminal Row": {
      "main": [
        [
          {
            "node": "Resolve Notify Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Notify Target": {
      "main": [
        [
          {
            "node": "Notify Configured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Configured?": {
      "main": [
        [
          {
            "node": "Notify OpenClaw",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify OpenClaw": {
      "main": [
        [
          {
            "node": "Respond Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": null,
  "tags": []
}
