n8n/workflows/media/age17-youtube-private-publish-v1.json
{
  "_openclawExport": {
    "exportedAt": "2026-06-26T04:40:00.000Z",
    "source": "n8n_create_workflow",
    "purpose": "Stage guarded private YouTube publish workflow as an inactive separate path from preflight-only package validation",
    "workflowId": "442Fx3mlY2h8nuAU",
    "workflowName": "AGE17 Dev - YouTube Private Publish v1",
    "activeAtExport": false,
    "validation": {
      "valid": true,
      "errors": 0,
      "warnings": 8,
      "updatedAt": "2026-06-30T12:03:38.292Z",
      "notes": [
        "blocks public karaoke/internal metadata terms",
        "records thumbnail set/failed status in publish ledger"
      ]
    },
    "safety": {
      "inactive": true,
      "testTriggerBlocked": true,
      "uploadRequires": [
        "workflow activation",
        "confirm=publish-to-youtube",
        "YOUTUBE_PUBLISH_APPROVAL_TOKEN match",
        "privacyStatus=private",
        "non-duplicate duplicateKey"
      ],
      "uploadBranchSeparatedFromPreflightWorkflow": true
    }
  },
  "name": "AGE17 Dev - YouTube Private Publish v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev/media/youtube-private-publish-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ytpriv-1",
      "name": "Private Publish Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nconst expectedToken = String($env.YOUTUBE_PUBLISH_APPROVAL_TOKEN || '').trim();\nconst providedToken = String(body.approvalToken || body.publishApprovalToken || '').trim();\nconst publishApproved = Boolean(expectedToken && providedToken && providedToken === expectedToken && body.confirm === 'publish-to-youtube');\nconst uploadEnabled = true;\n\nfunction text(value) {\n  return typeof value === 'string' ? value.trim() : '';\n}\n\nfunction firstText(...values) {\n  for (const value of values) {\n    const result = text(value);\n    if (result) return result;\n  }\n  return '';\n}\n\nfunction clamp(value, max) {\n  const result = text(value);\n  return result.length > max ? result.slice(0, max).trim() : result;\n}\n\nfunction arrayFrom(value) {\n  if (Array.isArray(value)) return value;\n  return String(value || '').split(',');\n}\n\nfunction isPlainObject(value) {\n  return Boolean(value && typeof value === 'object' && !Array.isArray(value));\n}\n\nfunction arrayOfObjects(...values) {\n  for (const value of values) {\n    if (Array.isArray(value)) return value.filter(isPlainObject);\n  }\n  return [];\n}\n\nfunction explicitBoolean(...values) {\n  for (const value of values) {\n    if (typeof value === 'boolean') return value;\n    if (value === 'true') return true;\n    if (value === 'false') return false;\n  }\n  return undefined;\n}\n\nfunction isHttpUrl(value) {\n  return /^https?:\\/\\//i.test(String(value || '').trim());\n}\n\nfunction assetUrl(asset) {\n  return firstText(asset.downloadUrl, asset.publicUrl, asset.url, asset.storage?.downloadUrl, asset.href);\n}\n\nfunction assetRole(asset) {\n  return text(asset.role).toLowerCase();\n}\n\nfunction assetMediaType(asset) {\n  return text(asset.mediaType || asset.type).toLowerCase();\n}\n\nfunction pickAssetUrl(assets, roleMatchers, mediaTypes) {\n  const byRole = assets.find((asset) => roleMatchers.some((matcher) => matcher.test(assetRole(asset))) && assetUrl(asset));\n  if (byRole) return assetUrl(byRole);\n  const byType = assets.find((asset) => mediaTypes.includes(assetMediaType(asset)) && assetUrl(asset));\n  return byType ? assetUrl(byType) : '';\n}\n\nconst BLOCKED_PUBLIC_TERMS = [\n  'OpenClaw',\n  'media-worker',\n  'media worker',\n  'internal project',\n  'internal tool',\n  'n8n',\n  'ComfyUI',\n  'RabbitMQ',\n  'karaoke'\n];\n\nfunction blockedPublicTerm(value) {\n  const textValue = (Array.isArray(value) ? value.join(', ') : String(value || '')).toLowerCase();\n  return BLOCKED_PUBLIC_TERMS.find((term) => textValue.includes(String(term).toLowerCase()));\n}\n\nconst artifacts = isPlainObject(body.artifacts) ? body.artifacts : {};\nconst metadata = isPlainObject(body.metadata) ? body.metadata : {};\nconst youtubeMetadata = isPlainObject(metadata.youtube) ? metadata.youtube : {};\nconst publishingMetadata = isPlainObject(metadata.publishing) ? metadata.publishing : {};\nconst musicMetadata = isPlainObject(metadata.musicRequest) ? metadata.musicRequest : {};\nconst assets = arrayOfObjects(body.assets, artifacts.assets, body.assetMetadata, artifacts.assetMetadata);\nconst finalVideoFromAssets = pickAssetUrl(assets, [/^primary_video$/, /final.*video/, /video/], ['video']);\nconst thumbnailFromAssets = pickAssetUrl(assets, [/^cover$/, /^thumbnail$/, /thumb/, /poster/], ['image']);\nconst requestId = firstText(body.requestId, metadata.requestId);\nconst artifactPageUrl = firstText(body.artifactPageUrl, artifacts.pageUrl, artifacts.artifactPageUrl);\nconst finalVideoUrl = firstText(body.finalVideoUrl, artifacts.finalVideoUrl, artifacts.mp4Url, artifacts.videoUrl, finalVideoFromAssets);\nconst thumbnailUrl = firstText(body.thumbnailUrl, artifacts.thumbnailUrl, thumbnailFromAssets);\nconst finalVideoRole = assets.find((asset) => assetUrl(asset) === finalVideoUrl)?.role || null;\nconst thumbnailRole = assets.find((asset) => assetUrl(asset) === thumbnailUrl)?.role || null;\nconst title = clamp(firstText(body.title, youtubeMetadata.title, publishingMetadata.title, metadata.title), 100);\nconst descriptionBase = firstText(body.description, youtubeMetadata.description, publishingMetadata.description, metadata.description);\nconst description = clamp(descriptionBase, 5000);\nconst metadataTags = Array.isArray(youtubeMetadata.tags) ? youtubeMetadata.tags : (Array.isArray(publishingMetadata.tags) ? publishingMetadata.tags : arrayFrom(youtubeMetadata.tags || publishingMetadata.tags || metadata.tags));\nconst tags = Array.isArray(body.tags) ? body.tags : metadataTags;\nconst cleanTags = [...new Set(tags.map((tag) => text(tag)).filter(Boolean))].slice(0, 25);\nconst privacyStatus = ['private', 'unlisted', 'public'].includes(body.privacyStatus) ? body.privacyStatus : (['private', 'unlisted', 'public'].includes(youtubeMetadata.privacyStatus) ? youtubeMetadata.privacyStatus : 'private');\nconst categoryId = String(body.categoryId || youtubeMetadata.categoryId || '10');\nconst regionCode = String(body.regionCode || youtubeMetadata.regionCode || 'VN');\nconst madeForKids = explicitBoolean(body.madeForKids, youtubeMetadata.madeForKids);\nconst language = firstText(body.language, body.defaultLanguage, youtubeMetadata.language, youtubeMetadata.defaultLanguage, musicMetadata.language);\nconst duplicateKey = firstText(body.duplicateKey, publishingMetadata.duplicateKey, requestId);\n\nlet duplicateRecord = null;\nlet ledgerAvailable = false;\ntry {\n  const workflowStatic = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\n  const ledger = workflowStatic && workflowStatic.youtubePublishLedger && typeof workflowStatic.youtubePublishLedger === 'object'\n    ? workflowStatic.youtubePublishLedger\n    : {};\n  ledgerAvailable = Boolean(workflowStatic);\n  duplicateRecord = duplicateKey && ledger[duplicateKey] ? ledger[duplicateKey] : null;\n  const knownPublishedVideos = {\n    'happy-birthday-lucy-music-video-20260619120120-ltxv-sheet': {\n      requestId: 'happy-birthday-lucy-music-video-20260619120120-ltxv-sheet',\n      videoId: 'FHJKJSsnkHw',\n      privacyStatus: 'private',\n      source: 'first-controlled-private-upload',\n      uploadedAt: '2026-06-26T05:15:45Z',\n      ledgerRecorded: false,\n      note: 'Upload succeeded; thumbnail failed with YouTube custom thumbnail permission 403 before ledger node.'\n    }\n  };\n  if (!duplicateRecord && duplicateKey && knownPublishedVideos[duplicateKey]) {\n    duplicateRecord = knownPublishedVideos[duplicateKey];\n  }\n} catch (error) {\n  ledgerAvailable = false;\n}\n\nconst missing = [];\nif (!requestId) missing.push('requestId');\nif (!artifactPageUrl) missing.push('artifactPageUrl');\nif (!finalVideoUrl) missing.push('finalVideoUrl');\nif (!thumbnailUrl) missing.push('thumbnailUrl');\nif (!title) missing.push('metadata.youtube.title');\nif (!descriptionBase) missing.push('metadata.youtube.description');\nif (!cleanTags.length) missing.push('metadata.youtube.tags');\nif (!duplicateKey) missing.push('metadata.publishing.duplicateKey');\nif (!language) missing.push('metadata.youtube.language');\nif (madeForKids === undefined) missing.push('metadata.youtube.madeForKids');\n\nconst validationErrors = [];\nif (artifactPageUrl && !isHttpUrl(artifactPageUrl)) validationErrors.push('artifactPageUrl must be http(s)');\nif (finalVideoUrl && !isHttpUrl(finalVideoUrl)) validationErrors.push('finalVideoUrl must be http(s)');\nif (thumbnailUrl && !isHttpUrl(thumbnailUrl)) validationErrors.push('thumbnailUrl must be http(s)');\nif (!['private', 'unlisted', 'public'].includes(privacyStatus)) validationErrors.push('metadata.youtube.privacyStatus must be private, unlisted, or public');\nif (privacyStatus !== 'private') validationErrors.push('private publish requires privacyStatus=private');\nconst titleBlockedTerm = blockedPublicTerm(title);\nconst descriptionBlockedTerm = blockedPublicTerm(description);\nconst tagsBlockedTerm = blockedPublicTerm(cleanTags);\nif (titleBlockedTerm) validationErrors.push(`metadata.youtube.title contains blocked public term: ${titleBlockedTerm}`);\nif (descriptionBlockedTerm) validationErrors.push(`metadata.youtube.description contains blocked public term: ${descriptionBlockedTerm}`);\nif (tagsBlockedTerm) validationErrors.push(`metadata.youtube.tags contains blocked public term: ${tagsBlockedTerm}`);\n\nconst gateBlocks = [];\nif (missing.length) gateBlocks.push(`missing:${missing.join(',')}`);\nif (validationErrors.length) gateBlocks.push(`invalid:${validationErrors.join(',')}`);\nif (!publishApproved) gateBlocks.push('approval_required');\nif (duplicateRecord) gateBlocks.push('duplicate_publish_key');\nif (!uploadEnabled) gateBlocks.push('upload_branch_disabled');\n\nconst ok = missing.length === 0 && validationErrors.length === 0;\nconst readyForUpload = ok && publishApproved && !duplicateRecord && uploadEnabled;\nconst responseCode = ok ? (duplicateRecord ? 409 : 200) : 400;\nconst status = !ok ? 'invalid_package' : duplicateRecord ? 'duplicate_blocked' : readyForUpload ? 'approved_private_publish_ready' : 'private_publish_preflight';\n\nreturn [{ json: {\n  ok,\n  responseCode,\n  status,\n  route: readyForUpload ? 'publish' : 'blocked',\n  requestId,\n  publishApproved,\n  uploadEnabled,\n  readyForUpload,\n  duplicate: Boolean(duplicateRecord),\n  duplicateRecord,\n  ledgerAvailable,\n  gateBlocks,\n  message: ok\n    ? (duplicateRecord\n      ? `Duplicate publish blocked for key: ${duplicateKey}`\n      : (readyForUpload ? 'Package passed validation and explicit approval. Upload branch is enabled for this one-time request.' : (publishApproved ? 'Package passed validation and explicit approval. Upload remains disabled until the final publish switch is enabled.' : 'Package passed validation. Private upload requires confirm=publish-to-youtube and approvalToken.')))\n    : `Package validation failed: ${[...missing, ...validationErrors].join(', ')}`,\n  missing,\n  validationErrors,\n  uploadPlan: {\n    requestId,\n    duplicateKey,\n    finalVideoUrl,\n    thumbnailUrl,\n    artifactPageUrl,\n    finalVideoRole,\n    thumbnailRole,\n    artifactCount: assets.length,\n    artifactRoles: assets.map((asset) => asset.role).filter(Boolean),\n    title,\n    description,\n    tags: cleanTags,\n    tagsCsv: cleanTags.join(','),\n    privacyStatus,\n    categoryId,\n    regionCode,\n    language,\n    madeForKids,\n    notifySubscribers: false\n  },\n  thumbnailPlan: {\n    sourceUrl: thumbnailUrl,\n    role: thumbnailRole,\n    requiresVideoId: true,\n    endpoint: 'https://www.googleapis.com/upload/youtube/v3/thumbnails/set',\n    stagedNode: 'Set YouTube Thumbnail'\n  },\n  rollbackPlan: {\n    deleteUploadedVideo: 'Use YouTube video delete by videoId if an accidental upload occurs.',\n    clearLedgerKey: duplicateKey ? `Remove youtubePublishLedger[${duplicateKey}] from workflow static data only after confirming YouTube rollback.` : '',\n    keepSourceArtifact: artifactPageUrl\n  }\n} }];"
      },
      "id": "ytpriv-2",
      "name": "Validate Private Publish Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-private-publish-ready",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.readyForUpload }}",
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ytpriv-3",
      "name": "Private Publish Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        760,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ ok: $json.ok, status: $json.status, route: $json.route, requestId: $json.requestId, publishApproved: $json.publishApproved, uploadEnabled: $json.uploadEnabled, readyForUpload: $json.readyForUpload, duplicate: $json.duplicate, duplicateRecord: $json.duplicateRecord, ledgerAvailable: $json.ledgerAvailable, gateBlocks: $json.gateBlocks, missing: $json.missing, validationErrors: $json.validationErrors, uploadPlan: $json.uploadPlan, thumbnailPlan: $json.thumbnailPlan, rollbackPlan: $json.rollbackPlan, message: $json.message }) }}",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "id": "ytpriv-4",
      "name": "Respond Private Publish Gate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1020,
        460
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Validate Private Publish Gate').first().json.uploadPlan.finalVideoUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "ytpriv-5",
      "name": "Download Final MP4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1020,
        220
      ],
      "disabled": false
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Validate Private Publish Gate').first().json.uploadPlan.title }}",
        "regionCode": "={{ $('Validate Private Publish Gate').first().json.uploadPlan.regionCode }}",
        "categoryId": "={{ $('Validate Private Publish Gate').first().json.uploadPlan.categoryId }}",
        "binaryProperty": "data",
        "options": {
          "description": "={{ $('Validate Private Publish Gate').first().json.uploadPlan.description }}",
          "privacyStatus": "private",
          "tags": "={{ $('Validate Private Publish Gate').first().json.uploadPlan.tagsCsv }}",
          "selfDeclaredMadeForKids": "={{ $('Validate Private Publish Gate').first().json.uploadPlan.madeForKids }}",
          "notifySubscribers": false
        }
      },
      "id": "ytpriv-6",
      "name": "Upload Private Video to YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1280,
        220
      ],
      "disabled": false,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "qKuqfuucn02eTXsB",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Validate Private Publish Gate').first().json.uploadPlan.thumbnailUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "thumbnail"
            }
          }
        }
      },
      "id": "ytpriv-7",
      "name": "Download Thumbnail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1540,
        220
      ],
      "disabled": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.googleapis.com/upload/youtube/v3/thumbnails/set?videoId=' + ($('Upload Private Video to YouTube').first().json.id || $('Upload Private Video to YouTube').first().json.videoId || $('Upload Private Video to YouTube').first().json.uploadId || ($('Upload Private Video to YouTube').first().json.uploadResult && $('Upload Private Video to YouTube').first().json.uploadResult.id) || '') + '&uploadType=media' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "thumbnail",
        "options": {}
      },
      "id": "ytpriv-8",
      "name": "Set YouTube Thumbnail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1800,
        220
      ],
      "disabled": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst uploadPlan = $('Validate Private Publish Gate').first().json.uploadPlan || {};\nconst upload = $('Upload Private Video to YouTube').first().json || {};\nconst key = String(uploadPlan.duplicateKey || uploadPlan.requestId || '').trim();\nif (!key) {\n  throw new Error('Cannot record YouTube publish ledger without duplicateKey');\n}\nconst videoId = upload.id || upload.videoId || upload.uploadId || upload.uploadResult?.id || null;\nconst workflowStatic = $getWorkflowStaticData('global');\nworkflowStatic.youtubePublishLedger = workflowStatic.youtubePublishLedger || {};\nworkflowStatic.youtubePublishLedger[key] = {\n  requestId: uploadPlan.requestId || key,\n  videoId,\n  title: uploadPlan.title || null,\n  privacyStatus: 'private',\n  artifactPageUrl: uploadPlan.artifactPageUrl || null,\n  recordedAt: new Date().toISOString(),\n  thumbnailStatus: 'pending'\n};\nreturn [{ json: { ...item, uploadPlan, youtubeUpload: upload, videoId, uploadId: videoId, ledgerRecorded: true, ledgerKey: key, thumbnailStatus: 'pending' } }];"
      },
      "id": "ytpriv-9",
      "name": "Record Private Publish Ledger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        220
      ],
      "disabled": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { const ledger = $('Record Private Publish Ledger').first().json; const thumbnail = $json || {}; const thumbnailError = thumbnail.error || thumbnail.message || null; const thumbnailSet = !thumbnailError; try { const workflowStatic = $getWorkflowStaticData('global'); const key = ledger.ledgerKey; const existingLedger = workflowStatic && workflowStatic.youtubePublishLedger ? workflowStatic.youtubePublishLedger : null; if (existingLedger && existingLedger[key]) { existingLedger[key].thumbnailStatus = thumbnailSet ? 'set' : 'failed'; existingLedger[key].thumbnailUpdatedAt = new Date().toISOString(); if (thumbnailError) existingLedger[key].thumbnailError = thumbnailError; } } catch (error) {} return { ok: true, status: thumbnailSet ? 'private_publish_recorded_thumbnail_set' : 'private_publish_recorded_thumbnail_failed', requestId: $('Validate Private Publish Gate').first().json.requestId, videoId: ledger.videoId, ledgerRecorded: ledger.ledgerRecorded, ledgerKey: ledger.ledgerKey, uploadPlan: ledger.uploadPlan, youtubeUpload: ledger.youtubeUpload, thumbnailAttempted: true, thumbnailSet, thumbnailError }; })() }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ytpriv-10",
      "name": "Respond Private Publish Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2320,
        220
      ]
    }
  ],
  "connections": {
    "Private Publish Webhook": {
      "main": [
        [
          {
            "node": "Validate Private Publish Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Private Publish Gate": {
      "main": [
        [
          {
            "node": "Private Publish Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Private Publish Approved?": {
      "main": [
        [
          {
            "node": "Download Final MP4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Private Publish Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Final MP4": {
      "main": [
        [
          {
            "node": "Upload Private Video to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Private Video to YouTube": {
      "main": [
        [
          {
            "node": "Record Private Publish Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Thumbnail": {
      "main": [
        [
          {
            "node": "Set YouTube Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set YouTube Thumbnail": {
      "main": [
        [
          {
            "node": "Respond Private Publish Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Private Publish Ledger": {
      "main": [
        [
          {
            "node": "Download Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh",
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none"
  }
}
