n8n/workflows/media/age17-music-generate-acestep-turbo-submit-v2.json
{
  "_openclawExport": {
    "exportedAt": "2026-06-14T04:08:16.074Z",
    "source": "n8n_get_workflow + local structured patch",
    "purpose": "Version live Submit v2 registry-driven worker readiness gate",
    "workflowId": "ma2PY9x1YIcNlEBm",
    "workflowName": "AGE17 Dev - Music Generate acestep_turbo Submit v2",
    "activeAtExport": true,
    "versionId": "486682cb-69d7-46bf-bf38-fc6ae991f0ac",
    "activeVersionId": "bfb88be7-7584-44be-a8db-d3c18a623631",
    "versionCounter": 8
  },
  "name": "AGE17 Dev - Music Generate acestep_turbo Submit v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev/media/music-generate-submit-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "OpenClaw Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        272,
        304
      ],
      "webhookId": "dev-media-music-generate-submit-v2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json.body ?? $input.first().json;\nconst requestId = typeof source.requestId === 'string' && source.requestId.trim() ? source.requestId.trim() : '';\nconst profile = typeof source.profile === 'string' && source.profile.trim() ? source.profile.trim() : 'acestep_turbo';\nconst tags = typeof source.tags === 'string' && source.tags.trim() ? source.tags.trim() : (typeof source.prompt === 'string' ? source.prompt.trim() : '');\nconst lyrics = typeof source.lyrics === 'string' ? source.lyrics : '';\nconst traceId = typeof source?.metadata?.traceId === 'string' ? source.metadata.traceId : undefined;\nconst language = typeof source.language === 'string' && source.language.trim() ? source.language.trim() : 'en';\nconst keyscale = typeof source.keyscale === 'string' && source.keyscale.trim() ? source.keyscale.trim() : 'C major';\nconst timesignature = typeof source.timesignature === 'string' && source.timesignature.trim() ? source.timesignature.trim() : '4';\nconst rawDuration = Number(source.duration ?? 120);\nconst rawBpm = Number(source.bpm ?? 90);\nconst count = source.count ?? 1;\nconst duration = Number.isFinite(rawDuration) ? Math.max(15, Math.min(120, Math.round(rawDuration))) : 120;\nconst bpm = Number.isFinite(rawBpm) ? Math.max(40, Math.min(220, Math.round(rawBpm))) : 90;\nconst seed = Number.isInteger(source.seed) ? source.seed : Date.now();\n\nif (!requestId) {\n  return [{ json: { requestId: null, status: 'failed', stage: 'validation', errorCode: 'MISSING_REQUEST_ID', message: 'requestId is required', responseCode: 400, route: 'error', metadata: { traceId } } }];\n}\nif (!tags) {\n  return [{ json: { requestId, status: 'failed', stage: 'validation', errorCode: 'EMPTY_TAGS', message: 'tags or prompt is required', responseCode: 400, route: 'error', metadata: { traceId } } }];\n}\nif (profile !== 'acestep_turbo') {\n  return [{ json: { requestId, status: 'failed', stage: 'validation', errorCode: 'UNSUPPORTED_PROFILE', message: 'profile must be acestep_turbo', responseCode: 400, route: 'error', metadata: { traceId } } }];\n}\nif (count !== 1) {\n  return [{ json: { requestId, status: 'failed', stage: 'validation', errorCode: 'UNSUPPORTED_COUNT', message: 'count must equal 1 for v1', responseCode: 400, route: 'error', metadata: { traceId } } }];\n}\n\nconst comfyWorkflow = {\n  '97': { inputs: { ckpt_name: 'ace_step_1.5_turbo_aio.safetensors' }, class_type: 'CheckpointLoaderSimple', _meta: { title: 'Load Checkpoint' } },\n  '94': { inputs: { tags: '', lyrics: '', seed: seed, bpm: bpm, duration: duration, timesignature: timesignature, language: language, keyscale: keyscale, generate_audio_codes: true, cfg_scale: 3, temperature: 0.75, top_p: 0.9, top_k: 0, min_p: 0, clip: ['97', 1] }, class_type: 'TextEncodeAceStepAudio1.5', _meta: { title: 'TextEncodeAceStepAudio1.5' } },\n  '78': { inputs: { shift: 3, model: ['97', 0] }, class_type: 'ModelSamplingAuraFlow', _meta: { title: 'ModelSamplingAuraFlow' } },\n  '18': { inputs: { samples: ['3', 0], vae: ['97', 2] }, class_type: 'VAEDecodeAudio', _meta: { title: 'VAE Decode Audio' } },\n  '98': { inputs: { seconds: duration, batch_size: 1 }, class_type: 'EmptyAceStep1.5LatentAudio', _meta: { title: 'Empty Ace Step 1.5 Latent Audio' } },\n  '3': { inputs: { seed: seed, steps: 15, cfg: 3, sampler_name: 'euler', scheduler: 'simple', denoise: 1, model: ['78', 0], positive: ['94', 0], negative: ['47', 0], latent_image: ['98', 0] }, class_type: 'KSampler', _meta: { title: 'KSampler' } },\n  '104': { inputs: { filename_prefix: 'audio/acestep-turbo', quality: 'V0', audio: ['18', 0] }, class_type: 'SaveAudioMP3', _meta: { title: 'Save Audio (MP3)' } },\n  '47': { inputs: { conditioning: ['94', 0] }, class_type: 'ConditioningZeroOut', _meta: { title: 'ConditioningZeroOut' } }\n};\ncomfyWorkflow['94'].inputs.tags = tags;\ncomfyWorkflow['94'].inputs.lyrics = lyrics;\n\nreturn [{ json: { requestId, profile: 'acestep_turbo', count: 1, tags, lyrics, bpm, duration, language, keyscale, timesignature, metadata: { source: source?.metadata?.source ?? 'openclaw', traceId }, workflowFile: 'music/audio_ace_step_1_5_balanced.json', comfyWorkflow, route: 'continue' } }];"
      },
      "id": "2",
      "name": "Validate and Build Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-validation-route",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.route }}",
              "rightValue": "continue"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3",
      "name": "Validation Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ requestId: $json.requestId, status: $json.status, stage: $json.stage, errorCode: $json.errorCode, message: $json.message, jobId: $json.jobId, metadata: $json.metadata }) }}",
        "options": {
          "responseCode": "={{ $json.responseCode || 500 }}"
        }
      },
      "id": "4",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3040,
        640
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "SPGOyAFf0KBfcgp4",
          "mode": "list",
          "cachedResultName": "MediaPhase1Jobs",
          "cachedResultUrl": "/projects/U1Bc4pAxfxpZa9Zn/datatables/SPGOyAFf0KBfcgp4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "requestId",
              "keyValue": "={{ $('Validate and Build Workflow').item.json.requestId }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "14",
      "name": "Load Existing Job",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        992,
        304
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const candidateItems = $input.all().filter((item) => item?.json && Object.keys(item.json).length > 0 && item.json.requestId);\nconst existing = candidateItems[0]?.json;\nconst request = $('Validate and Build Workflow').first().json;\n\nif (existing) {\n  let acceptedAt = existing.updatedAtIso;\n  try {\n    const result = existing.resultJson ? JSON.parse(existing.resultJson) : null;\n    if (!acceptedAt && result?.acceptedAt) acceptedAt = result.acceptedAt;\n  } catch {}\n  return [{ json: {\n    requestId: existing.requestId,\n    status: existing.status || 'queued',\n    jobId: existing.jobId,\n    acceptedAt: acceptedAt || $now.toISO(),\n    idempotentReplay: true,\n    route: 'existing'\n  } }];\n}\n\nreturn [{ json: { ...request, route: 'submit' } }];"
      },
      "id": "15",
      "name": "Existing Request?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-existing-route",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.route }}",
              "rightValue": "existing"
            }
          ]
        },
        "options": {}
      },
      "id": "18",
      "name": "Replay Existing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ requestId: $json.requestId, status: $json.status || 'queued', jobId: $json.jobId, acceptedAt: $json.acceptedAt || $now.toISO(), idempotentReplay: true }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "19",
      "name": "Respond Existing Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1584,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.dispatchUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.MEDIA_WORKER_INGRESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.workerDispatchBody }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "5",
      "name": "Dispatch To Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2640,
        496
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "DzUYzgx8ecL1ETrc",
          "name": "Cloudflare Access - Media Worker"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prepared = $('Prepare Worker Dispatch').first().json;\nconst response = $input.first().json;\n\nif (!response?.accepted || response?.jobId !== prepared.jobId) {\n  return [{ json: {\n    requestId: prepared.requestId,\n    status: 'failed',\n    stage: 'dispatch',\n    errorCode: 'WORKER_DISPATCH_FAILED',\n    message: 'media-worker-daemon did not accept the submitted job',\n    responseCode: 502,\n    route: 'error',\n    jobId: prepared.jobId,\n    metadata: {\n      traceId: prepared?.metadata?.traceId,\n      response\n    }\n  } }];\n}\n\nreturn [{ json: {\n  requestId: prepared.requestId,\n  jobId: prepared.jobId,\n  status: 'queued',\n  payloadJson: prepared.payloadJson,\n  resultJson: prepared.resultJson,\n  updatedAtIso: prepared.acceptedAt,\n  acceptedAt: prepared.acceptedAt,\n  metadata: prepared.metadata,\n  route: 'continue'\n} }];"
      },
      "id": "6",
      "name": "Capture Dispatch Ack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-submit-route",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.route }}",
              "rightValue": "continue"
            }
          ]
        },
        "options": {}
      },
      "id": "7",
      "name": "Job Started?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2832,
        496
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "SPGOyAFf0KBfcgp4",
          "mode": "list",
          "cachedResultName": "MediaPhase1Jobs",
          "cachedResultUrl": "/projects/U1Bc4pAxfxpZa9Zn/datatables/SPGOyAFf0KBfcgp4"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "requestId": "={{ $json.requestId }}",
            "jobId": "={{ $json.jobId }}",
            "status": "={{ $json.status }}",
            "payloadJson": "={{ $json.payloadJson }}",
            "resultJson": "={{ $json.resultJson }}",
            "updatedAtIso": "={{ $json.updatedAtIso }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "requestId",
              "displayName": "requestId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "jobId",
              "displayName": "jobId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "resultJson",
              "displayName": "resultJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updatedAtIso",
              "displayName": "updatedAtIso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "16",
      "name": "Create Job Row",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3040,
        416
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ requestId: $json.requestId, status: 'queued', jobId: $json.jobId, acceptedAt: $json.acceptedAt || $json.updatedAtIso, idempotentReplay: false }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "17",
      "name": "Respond Queued Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3264,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst workerBaseUrl = (($env.MEDIA_WORKER_BASE_URL || 'https://media-worker.techmatrx.com').trim()).replace(/\\/+$/, '');\nconst ingressToken = ($env.MEDIA_WORKER_INGRESS_TOKEN || '').trim();\nif (!workerBaseUrl) {\n  return [{ json: {\n    requestId: item.requestId,\n    status: 'failed',\n    stage: 'dispatch',\n    errorCode: 'MEDIA_WORKER_BASE_URL_NOT_CONFIGURED',\n    message: 'MEDIA_WORKER_BASE_URL is not configured in n8n',\n    responseCode: 500,\n    route: 'error',\n    metadata: { traceId: item?.metadata?.traceId }\n  } }];\n}\nif (!ingressToken) {\n  return [{ json: {\n    requestId: item.requestId,\n    status: 'failed',\n    stage: 'dispatch',\n    errorCode: 'MEDIA_WORKER_INGRESS_TOKEN_NOT_CONFIGURED',\n    message: 'MEDIA_WORKER_INGRESS_TOKEN is not configured in n8n',\n    responseCode: 500,\n    route: 'error',\n    metadata: { traceId: item?.metadata?.traceId }\n  } }];\n}\nconst jobId = `job_${Date.now()}_${Math.random().toString(36).slice(2, 8)}`;\nconst acceptedAt = $now.toISO();\nconst payloadJson = JSON.stringify({\n  profile: item.profile,\n  count: item.count,\n  tags: item.tags,\n  lyrics: item.lyrics,\n  bpm: item.bpm,\n  duration: item.duration,\n  language: item.language,\n  keyscale: item.keyscale,\n  timesignature: item.timesignature,\n  metadata: item.metadata,\n  workflowFile: item.workflowFile\n});\nconst resultJson = JSON.stringify({\n  provider: 'media-worker-daemon',\n  traceId: item?.metadata?.traceId,\n  acceptedAt,\n  status: 'queued'\n});\nreturn [{ json: {\n  ...item,\n  jobId,\n  acceptedAt,\n  payloadJson,\n  resultJson,\n  dispatchUrl: `${workerBaseUrl}/jobs`,\n  workerDispatchBody: {\n    jobId,\n    requestId: item.requestId,\n    profile: item.profile,\n    payload: {\n      workflow: item.comfyWorkflow,\n      workflowFile: item.workflowFile,\n      metadata: item.metadata\n    }\n  },\n  route: 'continue'\n} }];"
      },
      "id": "20",
      "name": "Prepare Worker Dispatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        384
      ]
    },
    {
      "id": "27",
      "name": "Load Ready Workers",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1584,
        384
      ],
      "alwaysOutputData": true,
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "V1zRtKHvsME9BgkO",
          "mode": "list",
          "cachedResultName": "MediaWorkers",
          "cachedResultUrl": "/projects/U1Bc4pAxfxpZa9Zn/datatables/V1zRtKHvsME9BgkO"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "keyValue": "ok"
            }
          ]
        },
        "limit": 20
      }
    },
    {
      "id": "28",
      "name": "Select Ready Worker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        384
      ],
      "parameters": {
        "jsCode": "const request = $('Validate and Build Workflow').first().json;\nconst now = Date.now();\nconst maxAgeMs = Number($env.MEDIA_WORKER_HEARTBEAT_MAX_AGE_MS || 180000);\nconst requiredMediaType = 'audio';\nconst requiredProfile = request.profile || 'acestep_turbo';\n\nfunction list(value) {\n  return String(value || '')\n    .split(',')\n    .map((entry) => entry.trim())\n    .filter(Boolean);\n}\n\nfunction isFresh(worker) {\n  const updatedAt = Date.parse(worker.updatedAtIso || worker.updatedAt || worker.createdAt || '');\n  return Number.isFinite(updatedAt) && now - updatedAt <= maxAgeMs;\n}\n\nconst workers = $input.all()\n  .map((item) => item.json || {})\n  .filter((worker) => worker.workerId)\n  .filter((worker) => worker.status === 'ok')\n  .filter((worker) => !worker.drain)\n  .filter((worker) => Boolean(worker.capacityAvailable))\n  .filter((worker) => Number(worker.activeJobs || 0) < Number(worker.maxConcurrentJobs || 0))\n  .filter((worker) => Boolean(worker.comfyReachable))\n  .filter((worker) => list(worker.supportedMediaTypes).includes(requiredMediaType))\n  .filter((worker) => list(worker.supportedProfiles).includes(requiredProfile))\n  .filter(isFresh)\n  .sort((a, b) => Number(a.activeJobs || 0) - Number(b.activeJobs || 0));\n\nconst selectedWorker = workers[0];\nif (!selectedWorker) {\n  return [{ json: {\n    ...request,\n    status: 'failed',\n    stage: 'worker_selection',\n    errorCode: 'NO_READY_WORKER',\n    message: 'No ready media worker is available for this request',\n    responseCode: 503,\n    route: 'error',\n    workerSelection: {\n      requiredMediaType,\n      requiredProfile,\n      maxAgeMs,\n      observedWorkers: $input.all().map((item) => ({\n        workerId: item.json?.workerId,\n        status: item.json?.status,\n        drain: item.json?.drain,\n        activeJobs: item.json?.activeJobs,\n        maxConcurrentJobs: item.json?.maxConcurrentJobs,\n        capacityAvailable: item.json?.capacityAvailable,\n        comfyReachable: item.json?.comfyReachable,\n        updatedAtIso: item.json?.updatedAtIso\n      }))\n    },\n    metadata: request.metadata\n  } }];\n}\n\nreturn [{ json: {\n  ...request,\n  route: 'continue',\n  selectedWorker: {\n    workerId: selectedWorker.workerId,\n    status: selectedWorker.status,\n    activeJobs: selectedWorker.activeJobs,\n    maxConcurrentJobs: selectedWorker.maxConcurrentJobs,\n    updatedAtIso: selectedWorker.updatedAtIso,\n    rabbitmqEnabled: selectedWorker.rabbitmqEnabled,\n    rabbitmqQueue: selectedWorker.rabbitmqQueue\n  }\n} }];"
      }
    },
    {
      "id": "29",
      "name": "Worker Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2016,
        384
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-worker-ready",
              "leftValue": "={{ $json.route }}",
              "rightValue": "continue",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "OpenClaw Webhook": {
      "main": [
        [
          {
            "node": "Validate and Build Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Build Workflow": {
      "main": [
        [
          {
            "node": "Validation Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Passed?": {
      "main": [
        [
          {
            "node": "Load Existing Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Existing Job": {
      "main": [
        [
          {
            "node": "Existing Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing Request?": {
      "main": [
        [
          {
            "node": "Replay Existing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replay Existing?": {
      "main": [
        [
          {
            "node": "Respond Existing Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Ready Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch To Worker": {
      "main": [
        [
          {
            "node": "Capture Dispatch Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Dispatch Ack": {
      "main": [
        [
          {
            "node": "Job Started?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Started?": {
      "main": [
        [
          {
            "node": "Create Job Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job Row": {
      "main": [
        [
          {
            "node": "Respond Queued Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Worker Dispatch": {
      "main": [
        [
          {
            "node": "Dispatch To Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Ready Workers": {
      "main": [
        [
          {
            "node": "Select Ready Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Ready Worker": {
      "main": [
        [
          {
            "node": "Worker Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worker Ready?": {
      "main": [
        [
          {
            "node": "Prepare Worker Dispatch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "tags": []
}
